# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
import numpy as np
import pandas as pd

In [54]:
tabla = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

tabla

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
rows, columns = tabla.shape
print(f" {rows} rows and {columns} columns.")

 4008 rows and 11 columns.

In [55]:
tabla.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [ ]:
tabla['Customer Lifetime Value'] = pd.to_numeric(tabla['Customer Lifetime Value'], errors = 'coerce')

In [56]:
tabla['Customer Lifetime Value'] = tabla['Customer Lifetime Value'].str.replace('%', '').astype(float) #reemplazamos % por nada y le asignado float64

tabla['Customer Lifetime Value'] = tabla['Customer Lifetime Value'] / 100 #al tener un valor porcetaje dividimos entre 100 para no alterar datos

In [57]:
tabla.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [46]:
tabla.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [89]:
tabla['Customer'] = tabla['Customer'].astype('category')
tabla.dtypes

Customer                     category
ST                             object
GENDER                         object
Education                      object
Customer Lifetime Value       float64
Income                        float64
Monthly Premium Auto          float64
Number of Open Complaints      object
Policy Type                    object
Vehicle Class                  object
Total Claim Amount            float64
dtype: object

In [58]:
tabla

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
unicos = tabla.nunique() #nunique devuelve los valores únicos de cada columna

unicos

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [90]:
categoricas = tabla.select_dtypes(include=['object']).columns

categoricas

Index(['ST', 'GENDER', 'Education', 'Number of Open Complaints', 'Policy Type',
       'Vehicle Class'],
      dtype='object')

In [91]:
numericas = tabla.select_dtypes(include=['float64']).columns

numericas

Index(['Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Total Claim Amount'],
      dtype='object')

In [92]:
for columna in categoricas:
    print(f'Valores unicos de la {columna}:{tabla[columna].unique()}')

Valores unicos de la ST:['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Valores unicos de la GENDER:[nan 'F' 'M' 'Femal' 'Male' 'female']
Valores unicos de la Education:['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Valores unicos de la Number of Open Complaints:['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Valores unicos de la Policy Type:['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Valores unicos de la Vehicle Class:['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [93]:
columnas_numericas = tabla.select_dtypes(include=['float64']).columns
tabla[columnas_numericas].describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,1068.000000,1071.000000,1071.000000,1071.000000
mean,7936.902593,39295.701214,193.234360,404.986909
std,6434.784103,30469.427060,1601.190369,293.027260
min,2004.350700,0.000000,61.000000,0.382107
25%,4034.079950,14072.000000,68.000000,202.157702
50%,5881.742350,36234.000000,83.000000,354.729129
75%,8962.871975,64631.000000,109.500000,532.800000
max,58166.553500,99960.000000,35354.000000,2893.239678

In [94]:
estadisticas_resumen = tabla[columnas_numericas].describe()

In [ ]:
medianas = tabla[columnas_numericas].median()
moda = tabla[columnas_numericas].mode()

print("Estadísticas Descriptivas:")
print(estadisticas_resumen)

print(f"Medianas:\n{medianas}")

print(f"Modas:\n{moda}")

Estadísticas Descriptivas:
       Customer Lifetime Value        Income  Monthly Premium Auto  \
count              1068.000000   1071.000000           1071.000000
mean               7936.902593  39295.701214            193.234360
std                6434.784103  30469.427060           1601.190369
min                2004.350700      0.000000             61.000000
25%                4034.079950  14072.000000             68.000000
50%                5881.742350  36234.000000             83.000000
75%                8962.871975  64631.000000            109.500000
max               58166.553500  99960.000000          35354.000000

       Total Claim Amount
count         1071.000000
mean           404.986909
std            293.027260
min              0.382107
25%            202.157702
50%            354.729129
75%            532.800000
max           2893.239678
Medianas:
Customer Lifetime Value     5881.742350
Income                     36234.000000
Monthly Premium Auto          83.000000
Total Claim Amount           354.729129
dtype: float64

Modas:
   Customer Lifetime Value  Income  Monthly Premium Auto  Total Claim Amount
0                2514.5920     0.0                  65.0               321.6
1                4458.1134     NaN                   NaN                 NaN

In [104]:
for columna in categoricas:
    print(f"Frecuencia de valores en {columna}:")
    print(tabla[columna].value_counts())

Frecuencia de valores en ST:
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
Frecuencia de valores en GENDER:
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64
Frecuencia de valores en Education:
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64
Frecuencia de valores en Number of Open Complaints:
Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64
Frecuencia de valores en Policy Type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Frecuencia de valores en Vehicle Class:
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [107]:
localizaciones = tabla['ST'].value_counts()
mas_pequeñas = localizaciones.nsmallest(5)
print(mas_pequeñas)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [110]:
numero_polizas = tabla['Policy Type'].value_counts()
print(numero_polizas)

mas_vendida = numero_polizas.idxmax()
print(f"El tipo de póliza más vendido es: {mas_vendida} con {numero_polizas.max()} pólizas vendidas.")

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
El tipo de póliza más vendido es: Personal Auto con 780 pólizas vendidas.

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [117]:
personal_auto_df = tabla.loc[tabla['Policy Type'] == 'Personal Auto']

corporate_auto_df = tabla.loc[tabla['Policy Type'] == 'Corporate Auto']

promedio_personal_auto = personal_auto_df['Income'].mean()

promedio_corporate = corporate_auto_df['Income'].mean()

print(f'Promedio personal: {promedio_personal_auto:.2f}')
print(f'Promedio Corporate: {promedio_corporate:.2f}')

Promedio personal: 38180.70
Promedio Corporate: 41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [119]:
total_claim_amount_stats = tabla['Total Claim Amount'].describe()
print('Estadísticas total de reclamaciones:')
print(total_claim_amount_stats)

Estadísticas total de reclamaciones:
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [121]:
percentil75 = tabla['Total Claim Amount'].quantile(0.75) #Cálculo de cuartil 75 

reclamaciones_altas = tabla.loc[tabla['Total Claim Amount'] > percentil75] #filtramos datos para obtener reclamaciones altas

print(reclamaciones_altas)

     Customer          ST GENDER Education  Customer Lifetime Value   Income  \
1     QZ44356     Arizona      F  Bachelor                6979.5359      0.0
2     AI49188      Nevada      F  Bachelor               12887.4317  48767.0
17    OE15005        Cali    NaN   College                3945.2416  28855.0
23    TZ98966      Nevada    NaN  Bachelor                2450.1910      0.0
26    US89481  California    NaN  Bachelor                3946.3721      0.0
...       ...         ...    ...       ...                      ...      ...
1059  YG44474      Oregon      M   College               14014.7213  54193.0
1061  RY92647        Cali      F  Bachelor               10506.7717      0.0
1068  GS98873     Arizona      F  Bachelor                3239.1247  16061.0
1069  CW49887  California      F    Master                4626.8011  79487.0
1070  MY31220  California      F   College                8997.0402  54230.0

      Monthly Premium Auto Number of Open Complaints     Policy Type  \
1                     94.0                    1/0/00   Personal Auto
2                    108.0                    1/0/00   Personal Auto
17                   101.0                    1/0/00   Personal Auto
23                    73.0                    1/3/00  Corporate Auto
26                   111.0                    1/0/00   Personal Auto
...                    ...                       ...             ...
1059                 117.0                    1/0/00  Corporate Auto
1061                  92.0                    1/0/00   Personal Auto
1068                  88.0                    1/0/00   Personal Auto
1069                 114.0                    1/0/00    Special Auto
1070                 112.0                    1/0/00   Personal Auto

      Vehicle Class  Total Claim Amount
1     Four-Door Car         1131.464935
2      Two-Door Car          566.472247
17              SUV          647.442031
23    Four-Door Car          554.376763
26    Four-Door Car          799.200000
...             ...                 ...
1059            SUV          720.752945
1061  Four-Door Car          546.524896
1068  Four-Door Car          633.600000
1069            SUV          547.200000
1070   Two-Door Car          537.600000

[264 rows x 11 columns]

In [122]:
estadisticas_r_altas = reclamaciones_altas.describe()
print(estadisticas_r_altas)

       Customer Lifetime Value        Income  Monthly Premium Auto  \
count               264.000000    264.000000            264.000000
mean               9086.868131  23677.344697            165.193182
std                6387.677898  27013.483721            623.930992
min                2287.596900      0.000000             63.000000
25%                4723.957925      0.000000             99.000000
50%                7781.768250  18807.000000            114.000000
75%               10544.299275  42423.750000            133.250000
max               38445.855900  99316.000000          10202.000000

       Total Claim Amount
count          264.000000
mean           782.228263
std            292.751640
min            537.600000
25%            606.521741
50%            679.597985
75%            851.400000
max           2893.239678